@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    min-height: 100vh;
    transition: background 0.5s;
}

section.dark {
    background: #24292d;
}

section .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: 300px;
    height: 380px;
    border-radius: 16px;
}

section.dark .card {
    background: #323840;
}

.content,
.imgText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgBox {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: #2fa1ff;
}

.role {
    font-weight: 400;
    color: #777;
    font-size: 0.75em;
}

section.dark .role {
    color: #ccc;
}

.contact {
    display: flex;
    margin-top: 15px;
}

ul {
    list-style: none;
}

a {
    position: relative;
    width: 50px;
    height: 50px;
    color: #2fa1ff;
    background: #e9f5ff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5;
}

section.dark a {
    background: #404852;
}

a:hover {
    color: #fff;
}

.fab {
    position: relative;
    z-index: 1000;
}

a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5%;
}

a:hover:before {
    transform: scale(1);
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: #e9f5ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

section.dark .toggle {
    background: #404852;
}

.toggle::before {
    content: url('img/moon1.jpg');
    color: #2fa1ff;
    /* font-family: fontAwesome; */
}

section.dark .toggle::before {
    content: url('img/sun1.jpg');
    color: #fff;
}